.comment-form-container {
  margin: 20px 0;
  display: flex;
  .comment-card-form {
    display: inline-block;
    width: 100%;
    height: 100%;

    md-input {
      width: 100%;
    }

    button {
      padding: 0;
      color: #00796B;
      float: right;
    }

    .header {
      text-align: left;
    }
  }
}
