<article class="article-detail" *ngIf="article">
  <md-card style="width: 100%; height: 100%;">
    <md-card-header>
      <img md-card-avatar src="../assets/images/avatar/cat1.png">
      <md-card-title>{{article.title}}</md-card-title>
      <md-card-subtitle>By: {{article.author}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{article.urlToImage}}">
    <md-card-content>
      <p>{{article.description}}</p>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="explore(article.url)">LEARN MORE</button>
        <button md-button>SHARE</button>
   </md-card-actions>
  </md-card>
</article>