@import '../../node_modules/@angular/material/core/theming/all-theme';
//angular-material-theme($theme)

@mixin angular-material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Use md-color to extract individual colors from a palette as necessary.
  a.category-tag {
    background-color: md-color($primary);
    border-color: md-color($accent, A400);
  }
}

md-sidenav-layout {
  height: 100%;
  width: 100%;
}

.category:active {
}

#header-title {
  margin-left: 30px;
}

#sidenav-header {
  text-align: center;
  vertical-align: middle;
  height: 64px;
  line-height: 64px;
  background-color: #80DEEA;
  font-family: 'Roboto', sans-serif;
}

md-sidenav {
  width: 20%;
  height: 100%;
}

.category-icon {
  position: absolute;
  margin-left: 78%;
}

.activecat a {
  text-decoration: none;
  font-weight: bold;
}

.unactivecat a {
  text-decoration: none;
  font-weight: 450;
  color: #616161;
}

/* Category Color List */
.color-cyan {
  color: #00bcd4;
}

.color-pink {
  color: #AD1457;
}

.color-orange {
  color: #FB8C00;
}

.color-indigo {
  color: #3949AB;
}

.color-deeppurple {
  color: #5E35B1;
}

.color-green {
  color: #43A047;
}

.color-deeporange {
  color: #F4511E;
}

.color-red {
  color: #E53935;
}


