<md-sidenav-layout>
  <md-toolbar color="primary">
    <button md-icon-button (click)="start.toggle()">
    <md-icon class="md-24">menu</md-icon>
  </button>

    <span id="header-title"> Dogular | Latest News reach you, before your dogs do</span>

  </md-toolbar>
  <!-- Site Navigation Panel -->
  <md-sidenav class="md-sidenav-left" #start mode="over">
    <md-toolbar color="primary">
      <span>Angular Material</span>
    </md-toolbar>
    <!-- List of category goes here -->
    <!-- Category List -->
    <md-nav-list>
      <md-list-item *ngFor="let category of categories">
        <a routerLink="/news/{{category.path}}">{{category.title}}</a>
        <md-icon class="category-icon">{{category.icon}}</md-icon>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>

  <router-outlet></router-outlet>
  <app-news-detail></app-news-detail>
</md-sidenav-layout>

<!--
  <app-news></app-news>
  <app-news-detail></app-news-detail>
-->