<!-- List of Article goes here-->
<div *ngIf="articleHolder" align="center" class="news-panel">
  <h2>Category Title<span><input type="textbox" name="search" value="Search" placeholder="Search"/></span></h2>
  <section class="news-category-group">
    <!--  Using css flex box-->
    <!-- ngFor - fetch all article-->
    <article class="article-card">
      <md-card>
        <img md-card-image src="http://a.amz.mshcdn.com/media/ZgkyMDE2LzEwLzAzLzUwL0dldHR5SW1hZ2VzNjExOTcxMTY2LjgyY2Y4LmpwZwpwCXRodW1iCTEyMDB4NjMwCmUJanBn/ac9f799b/600/GettyImages-611971166.jpg">
        <md-card-content>
          <p>DeSean Jackson wears police tape on his cleats to protest 'senseless killings</p>
        </md-card-content>
      </md-card>
    </article>

    <article class="article-card">
      <md-card>
        <img md-card-image src="http://a.amz.mshcdn.com/media/ZgkyMDE2LzEwLzAzLzUwL0dldHR5SW1hZ2VzNjExOTcxMTY2LjgyY2Y4LmpwZwpwCXRodW1iCTEyMDB4NjMwCmUJanBn/ac9f799b/600/GettyImages-611971166.jpg">
        <md-card-content>
          <p>DeSean Jackson wears police tape on his cleats to protest 'senseless killings</p>
        </md-card-content>
      </md-card>
    </article>

    <article class="article-card">
      <md-card>
        <img md-card-image src="http://a.amz.mshcdn.com/media/ZgkyMDE2LzEwLzAzLzUwL0dldHR5SW1hZ2VzNjExOTcxMTY2LjgyY2Y4LmpwZwpwCXRodW1iCTEyMDB4NjMwCmUJanBn/ac9f799b/600/GettyImages-611971166.jpg">
        <md-card-content>
          <p>DeSean Jackson wears police tape on his cleats to protest 'senseless killings</p>
        </md-card-content>
      </md-card>
    </article>

    <article class="article-card">
      <md-card>
        <img md-card-image src="http://a.amz.mshcdn.com/media/ZgkyMDE2LzEwLzAzLzUwL0dldHR5SW1hZ2VzNjExOTcxMTY2LjgyY2Y4LmpwZwpwCXRodW1iCTEyMDB4NjMwCmUJanBn/ac9f799b/600/GettyImages-611971166.jpg">
        <md-card-content>
          <p>DeSean Jackson wears police tape on his cleats to protest 'senseless killings</p>
        </md-card-content>
      </md-card>
    </article>

    <article class="article-card">
      <md-card>
        <img md-card-image src="http://a.amz.mshcdn.com/media/ZgkyMDE2LzEwLzAzLzUwL0dldHR5SW1hZ2VzNjExOTcxMTY2LjgyY2Y4LmpwZwpwCXRodW1iCTEyMDB4NjMwCmUJanBn/ac9f799b/600/GettyImages-611971166.jpg">
        <md-card-content>
          <p>DeSean Jackson wears police tape on his cleats to protest 'senseless killings</p>
        </md-card-content>
      </md-card>
    </article>

    <article class="article-card">
      <md-card>
        <img md-card-image src="http://a.amz.mshcdn.com/media/ZgkyMDE2LzEwLzAzLzUwL0dldHR5SW1hZ2VzNjExOTcxMTY2LjgyY2Y4LmpwZwpwCXRodW1iCTEyMDB4NjMwCmUJanBn/ac9f799b/600/GettyImages-611971166.jpg">
        <md-card-content>
          <p>DeSean Jackson wears police tape on his cleats to protest 'senseless killings</p>
        </md-card-content>
      </md-card>
    </article>

    
  </section>
</div>

<app-news-detail [article]="selectedArticle"></app-news-detail>



<article class="article-detail" *ngIf="article">
  <md-card style="width: 100%; height: 100%;">
    <md-card-header>
      <img md-card-avatar src="../assets/images/avatar/cat1.png">
     
     
    </md-card-header>
    <img md-card-image src="{{article.urlToImage}}">
    <md-card-content>
      <md-card-title>{{article.title}}</md-card-title>
      <md-card-subtitle>By: {{article.author}} - <span></span></md-card-subtitle>
      <p>{{article.description}}</p>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="explore(article.url)">LEARN MORE</button>
        <button md-button>SHARE</button>
   </md-card-actions>
  </md-card>
</article>