<!-- List of Article goes here-->
<div *ngIf="articleHolder">
  <div id="news-panel">
    <md-list>
      <md-list-item *ngFor="let article of articleHolder.articles; let id = index" class="news-panel" (click)="selectArticle(article)">
        <h3 class="article-title"> {{article.title}} </h3>
        <p class="time">{{getTime(article.publishedAt)}}</p>
        <img src="{{article.urlToImage}}" alt="" class="article-image">
      </md-list-item>
    </md-list>
  </div>
</div>
<app-news-detail [article] = "selectedArticle" ></app-news-detail>

