/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css';
html,
body {
    height: auto;
}


#news-panel .md-list-item{
    height: 150px !important;
    border: 0.5px solid #E0E0E0;
    align-items: flex-start !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #fff;
    border-radius: 2px;
}
#news-panel .md-list-item:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

md-card{
    height: 400px;
}

md-sidenav-layout {
    background-color: #C6E5AE;
}
